@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boton {
  width: 110px;
  height: 45px;
  color: rgb(255, 255, 255);
  background-color: rgb(240, 75, 240);
  padding: 10px 25px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.boton:hover {
  background-color: rgb(240, 125, 234);
  width: 130px;
}

.titulo-principal {
  color: rgba(243, 129, 243, 0.76);
  font-size: 50px;
  text-align: center;
  margin: 20px 0px 0px;
}
@media (max-width: 768px) {
  .titulo-principal {
    font-size: 36px;
    margin: 10px 0px 0px;
  }
}

.navegador {
  background-color: rgb(206, 130, 181);
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 9999;
  background-image: linear-gradient(0deg, rgb(240, 75, 240), rgb(233, 195, 220));
}
.navegador .fa-bars {
  display: none;
}
@media (max-width: 768px) {
  .navegador .fa-bars {
    display: block;
    margin: 15px;
    font-size: 30px;
    color: white;
    order: -1;
  }
}
.navegador .logo {
  width: 64px;
  height: 64px;
  object-fit: cover;
  padding: 7px;
}
.navegador ul {
  list-style-type: none;
  display: flex;
}
@media (max-width: 768px) {
  .navegador ul {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    transition: 0.5s;
  }
}
.navegador ul li a {
  text-decoration: none;
  color: aliceblue;
  display: block;
  padding: 10px 15px;
}
@media (max-width: 768px) {
  .navegador ul li a {
    color: black;
  }
}
@media (max-width: 768px) {
  .navegador:hover {
    left: 0;
  }
}

@media (max-width: 768px) {
  .encabezado {
    margin-top: -70px;
    height: 600px;
    width: 100%;
    object-fit: cover;
  }
}
@media (max-width: 576px) {
  .encabezado {
    margin-top: -160px;
    height: 500px;
  }
}
.encabezado .banner-titulo {
  height: 700px;
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (max-width: 1200px) {
  .encabezado .banner-titulo {
    width: 100%;
    height: 700px;
    margin-left: 0;
  }
}
.encabezado .banner-titulo .img-banner {
  height: 700px;
  width: 100%;
  object-fit: cover;
  position: relative;
}
@media (max-width: 768px) {
  .encabezado .banner-titulo .img-banner {
    height: 500px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
}
@media (max-width: 576px) {
  .encabezado .banner-titulo .img-banner {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .navegador .fa-bars:hover + ul {
    left: 0;
  }
}
@media (max-width: 1200px) {
  .carousel-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.subtitulo-servicios {
  color: fuchsia;
  font-size: 40px;
  padding: 0px 30px;
}

.parrafo-de-servicios {
  color: rgb(206, 130, 181);
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.seccion-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin: 20px 100px;
}
.seccion-tarjetas .tarjeta {
  width: 350px;
  height: auto;
  border: 5px solid rgba(255, 212, 255, 0.76);
  border-radius: 7%;
  box-shadow: 9px 9px 11px 9px rgba(255, 212, 255, 0.76);
  padding: 10px;
  margin: 10px;
  background-image: url(../multimedia/img/fondo\ de\ tarjetas.jpg);
  background-size: cover;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.seccion-tarjetas .tarjeta h3 {
  font-size: 40px;
  text-align: center;
  color: rgb(230, 110, 235);
}
.seccion-tarjetas .tarjeta .imagen-pestañas {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 7%;
}

.pie-de-pagina {
  background-color: rgba(240, 236, 236, 0.404);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(180deg, rgba(240, 236, 236, 0.404), rgb(255, 255, 255) 30%);
}
@media (max-width: 768px) {
  .pie-de-pagina {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 576px) {
  .pie-de-pagina {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
.pie-de-pagina #info-contactos h2 {
  font-size: 40px;
  padding: 10px;
  margin: 10px;
  color: rgb(0, 0, 0);
}
.pie-de-pagina #info-contactos p {
  font-size: 20px;
  padding: 3px;
  margin: 10px;
}
.pie-de-pagina #redes .logo-redes {
  width: 64px;
  height: 64px;
  object-fit: cover;
  padding: 7px;
}

.logo-whatsapp {
  position: fixed;
  width: 73px;
  height: 75px;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(26, 196, 26);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  right: 30px;
  z-index: 2;
  box-shadow: 7px 7px 10px -1px #84FF75;
}
.logo-whatsapp .whatsapp {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.encabezado-contacto .titulo-principal {
  margin-top: 60px;
  color: rgb(240, 75, 240);
  font-size: 45px;
}

.seccion-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
@media (max-width: 1200px) {
  .seccion-form {
    display: flex;
    flex-flow: column;
  }
}
.seccion-form .form-contacto {
  color: rgb(240, 75, 240);
  border: 5px solid;
  margin: 15px 23%;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 1050px;
}
.seccion-form .form-contacto .titulo-contacto {
  color: rgb(240, 75, 240);
}
.seccion-form .form-contacto .parrafo-contacto {
  font-size: 19px;
  color: rgb(240, 75, 240);
}
.seccion-form .form-contacto input {
  width: 240px;
  border: 0px;
  border-bottom: 2px solid rgb(240, 75, 240);
}
@media (max-width: 1200px) {
  .seccion-form .form-contacto {
    width: 400px;
  }
}

.seccion-mapa {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .seccion-mapa {
    display: flex;
    flex-flow: column;
  }
}
.seccion-mapa .subtitulo-ubicacion {
  color: rgb(240, 75, 240);
  font-size: 30px;
  padding: 10px;
  margin: 10px;
}
.seccion-mapa .parrafo-ubicacion {
  color: black;
  font-size: 20px;
  padding: 10px;
}

@media (max-width: 1200px) {
  .mapa {
    width: 370px;
  }
}
.encabezado-nosotros {
  height: 250px;
  width: 100%;
}
.encabezado-nosotros .imagen-nosotros {
  width: 500px;
  margin-top: 45px;
}

.descripcion-nosotros {
  font-size: 20px;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.subtitulo-razones {
  margin: 10px;
  font-size: 28px;
}

.razones li {
  font-size: 20px;
  margin: 40px;
  padding: 1px;
  list-style-type: square;
}

.encabezado-horarios .titulo-horarios {
  font-size: 40px;
  color: rgb(240, 75, 240);
  padding: 5px;
  margin: 55px;
  margin-bottom: 20px;
}

.tabla-precios {
  border: 5px solid rgb(240, 75, 240);
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}
.tabla-precios .subtitulo-precios {
  color: rgb(240, 75, 240);
  font-size: 30px;
  margin: 10px;
  padding: 5px;
}
.tabla-precios .precios {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  list-style-type: square;
}

.titulo-tabla-de-horarios {
  color: rgb(240, 75, 240);
  font-size: 30px;
  margin: 10px;
  padding: 10px;
}

.tabla-horarios {
  border: 5px solid rgb(240, 75, 240);
  width: 100%;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.tabla-horarios tr {
  text-align: center;
}
@media (max-width: 768px) {
  .tabla-horarios tr {
    font-size: 15px;
  }
}

.contenedor-principal {
  margin-top: 45px;
}
.contenedor-principal .titulo-principal {
  font-size: 55px;
  color: rgb(240, 75, 240);
}
.contenedor-principal .principal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 1200px;
}
@media (max-width: 768px) {
  .contenedor-principal .principal {
    flex-direction: column;
  }
}
.contenedor-principal .principal .seccion-cat {
  width: 30%;
}
@media (max-width: 768px) {
  .contenedor-principal .principal .seccion-cat {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .contenedor-principal .principal .seccion-cat {
    margin-left: 10px;
  }
}
.contenedor-principal .principal .seccion-cat .categorias {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
.contenedor-principal .principal .seccion-cat .categorias .sub-categoria {
  color: rgba(241, 174, 241, 0.76);
  margin-top: 50px;
}
@media (max-width: 768px) {
  .contenedor-principal .principal .seccion-cat .categorias .sub-categoria {
    width: 100%;
    text-align: center;
  }
}
.contenedor-principal .principal .seccion-cat .categorias ul {
  list-style-type: none;
  padding: 0;
}
@media (max-width: 768px) {
  .contenedor-principal .principal .seccion-cat .categorias ul {
    display: flex;
    justify-content: space-around;
  }
}
.contenedor-principal .principal .seccion-cat .categorias ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
  padding: 10px 15px;
}

.seccion-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}
.seccion-productos .subtitulos {
  color: fuchsia;
  font-size: 30px;
  padding: 0px 30px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.seccion-productos .tarjetaP {
  width: 300px;
  height: auto;
  border: 5px solid rgba(255, 212, 255, 0.76);
  border-radius: 7%;
  box-shadow: 9px 9px 11px 9px rgba(255, 212, 255, 0.76);
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}
.seccion-productos .tarjetaP .img-producto {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 7%;
}
.seccion-productos .tarjetaP h3 {
  margin: 10px;
  font-size: 20px;
}
.seccion-productos .tarjetaP h4 {
  margin: 10px;
  font-size: 20px;
}

/*# sourceMappingURL=styles.css.map */
