.encabezado-horarios {
    .titulo-horarios {
        font-size: 40px;
        color: $rosa-color-general;
        padding: 5px;
        margin: 55px;
        margin-bottom: 20px;
    }
}

.tabla-precios {
    border: 5px solid $rosa-color-general;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;

    .subtitulo-precios {
        color: $rosa-color-general;
        font-size: 30px;
        margin: 10px;
        padding: 5px;
        transition: 0.3s;
        &:hover {
            transform: translate(9px,-9px);
        }
    }

    .precios {
        font-size: 20px;
        margin: 10px;
        padding: 10px;
        list-style-type: square;

        li {
            margin: 10px;
            transition: 0.3s;

            &:hover {
                transform: translate(9px, -9px);
            }
        }
    }
}

.horarios {
    display: flex;
    flex-direction: column;

    .titulo-tabla-de-horarios {
        color: $rosa-color-general;
        font-size: 30px;
        margin: 10px;
        padding: 10px;
        transition: 0.3s;
        &:hover {
            transform: translate(9px,-9px);
        }
    }

    .tabla-horarios {
        border: 5px solid $rosa-color-general;
        font-size: 20px;
        margin: 10px;
        padding: 8px;
        border-radius: 10px;

        tr {
            text-align: center;
            @media(max-width:768px) {
                font-size: 12px;
            }
        }
    }
}