.imagen-nosotros {
    width: 600px;
}

.descripcion-nosotros {
    font-size: 20px;
    margin: 10px;
    text-align: center;
    padding: 10px;
}

.subtitulo-razones {
    margin: 10px;
    font-size: 28px;
}

.razones {
    li {
        font-size: 20px;
        margin: 40px;
        padding: 1px;
        list-style-type: square;
    }
}